.home .main
  display: none

.pedida
  position: fixed
  right: 1rem
  bottom: 1rem
  padding: 1rem 1.4rem
  color: $light
  text-align: center
  background-color: rgba(0,0,0,.6)
  -webkit-transition: .2s all ease
  -moz-transition: .2s all ease
  transition: .2s all ease

  &:hover
    background-color: rgba(0,0,0,.8)

.pedida a
  color: $light
  text-decoration: none

.pedida-title
  display: inline-block
  margin:
    top: 0
    bottom: 0
    right: 1rem

.pedida-title strong
  display: block
  font:
    size: 1.8rem
    weight: normal

.pedida img
  margin-bottom: -6px
