---
layout: compress
---

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page.title }} - {{ site.title }}</title>
  <meta name="description" content="{{ page.description }}">

  <link rel="stylesheet" href="/assets/css/vendor.css">
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body class="{{ page.slug }} is-censored">
  {% include censored.html %}
  {% include header.html %}

  <main class="main">
    {{ content }}
  </main>

  {% include footer.html %}
  {% if page.url == '/' %}
    <article class="home-article">
      <h1 class="home-title">Todo hambúrguer<br> clássico merece<br> uma cerveja<br> com 140 anos<br> de história.</h1>
      <h2 class="home-subtitle">Na compra de uma Bud<br> + hambúrguer do combo,<br> ganhe outra Bud.</h1>
      <p class="home-text">
        <a href="http://www.pedidadehoje.com.br/" target="_blank" title="Pedida de Hoje"><img src="assets/img/bg-home_pedida.png" alt="">
        Baixe seu cupom no aplicativo<br> Pedida de Hoje ou acesse:<br> www.pedidadehoje.com.br</a>
      </p>
      <img src="assets/img/bg-burger.png" alt="Bud 'n' Burger">
    </article>
  {% endif %}
  <script src="/assets/js/vendor.js"></script>
  <script src="/assets/js/main.js"></script>
</body>
</html>
