<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="/assets/css/vendor.css">
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
  {% include header.html %}

  <main class="main">
    {{ content }}
  </main>

  {% include footer.html %}

  <script src="/assets/js/vendor.js"></script>
  <script src="/assets/js/main.js"></script>
</body>
</html>
