---
layout: default
title: Hamburguerias
description: Conheça as hamburguerias participantes do Bud ‘n’ Burger
---

<section class="page bar">
    <header class="page-header">
      <h1 class="page-title">{{ page.title }}</h1>
      <p class="page-subtitle">{{ page.description }}:</p>
    </header>

    <div class="bar-filters">
      <select data-js="cidades" class="select bar-filter">
        <option value="cidades">Selecione a cidade</option>
        {% for cidade in site.cidades %}
          {% assign 
            city = cidade.title |
            replace: ' ', '-' |
            replace: 'á', 'a' |
            replace: 'à', 'a' |
            replace: 'ã', 'a' |
            replace: 'é', 'e' |
            replace: 'í', 'i' |
            replace: 'ó', 'o' |
            replace: 'ú', 'u' |
            replace: 'ç', 'c' |
            downcase
          %}
          <option data-estado="{{ cidade.state }}" value="{{ city }}">{{ cidade.title }}</option>
        {% endfor %}
      </select>
    </div>
  
    <div class="page-content bar-content">
      {% for bar in site.bares %}
        {% assign 
          title = bar.title |
          replace: ' ', '-' |
          replace: '.', '' |
          replace: '&apos;', '' |
          replace: '&', 'and' |
          replace: '?', '' |
          replace: 'á', 'a' |
          replace: 'à', 'a' |
          replace: 'ã', 'a' |
          replace: 'é', 'e' |
          replace: 'í', 'i' |
          replace: 'ó', 'o' |
          replace: 'ô', 'o' |
          replace: 'ú', 'u' |
          replace: 'ç', 'c' |
          downcase
        %}
        {% assign 
          state = bar.state |
          replace: ' ', '-' |
          replace: 'á', 'a' |
          replace: 'à', 'a' |
          replace: 'ã', 'a' |
          replace: 'é', 'e' |
          replace: 'í', 'i' |
          replace: 'ó', 'o' |
          replace: 'ú', 'u' |
          replace: 'ç', 'c' |
          downcase
        %}
        {% assign 
          city = bar.city |
          replace: ' ', '-' |
          replace: 'á', 'a' |
          replace: 'à', 'a' |
          replace: 'ã', 'a' |
          replace: 'é', 'e' |
          replace: 'í', 'i' |
          replace: 'ó', 'o' |
          replace: 'ú', 'u' |
          replace: 'ç', 'c' |
          downcase
        %}
        {% assign 
          district = bar.district |
          replace: ' ', '-' |
          replace: 'á', 'a' |
          replace: 'à', 'a' |
          replace: 'ã', 'a' |
          replace: 'é', 'e' |
          replace: 'í', 'i' |
          replace: 'ó', 'o' |
          replace: 'ú', 'u' |
          replace: 'ç', 'c' |
          downcase
        %}
        <article
          class="bar-item
          {{ state }}
          {{ city }}
          {{ district }}">
          <span class="bar-item_title">{{ bar.title }}</span>
          <figure class="bar-item_image">
            <img src="/assets/img/bares/{{ state }}/{{ title | append: '.png' }}" alt="{{ bar.title }}">
            <figcaption class="bar-item_caption">
              <article class="bar-item_article">
                <h4 class="bar-item_article-title">{{ bar.title }}</h4>
                <p class="bar-item_article-text">{{ bar.description }}</p>
              </article>
              <footer class="bar-item_footer">
                <div class="bar-item_info">
                  <p>{{ bar.city }}</p>
                  <p>{{ bar.address }}</p>
                </div>
                <nav class="bar-social">
                  {% if bar.facebook %}
                    <a class="bar-social_item bar-social_fb" href="https://facebook.com/{{ bar.facebook }}" target="_blank" data-name="{{ bar.title }}"><img src="/assets/img/facebook-icon.png" alt="Facebook"></a>
                  {% endif %}
                  <a class="bar-social_item bar-social_map" href="https://www.google.com/maps/search/?api=1&query={{ bar.title }}, {{ bar.city }}, {{ bar.address }}" target="_blank" data-name="{{ bar.title }}"><img src="/assets/img/pin-icon.png" alt="Google Maps"></a>
                </nav>
              </footer>
            </figcaption>
          </figure>
        </article>
      {% endfor %}
    </div>
  </section>
